
We received a request for <%= @user.email %> to change your credentials on Speed 
Learner. If you received this email in error please ignore it. 

To update your credentials please click on the link below:

	<a href = "<%= @url %>"<%= @url %></a>

If clicking on the link doesn't work, please copy and paste the link into the address bar on your browserand hit Enter. Once you've arrived at the page you will be given further instructions.

Sincerely

Speed Learner

<%= DateTime.now %> 
