<h1>Welcome to SpeedLearner</h1>
<br>
<h4>Choose a category below to take or create a quiz!</h4>
<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="th-categ-name">Category</th>
      <!--th class="th-categ-dogs">Dogs</th-->
      <!--th class="th-categ-edit"></th-->
      <!--th class="th-categ-delete"></th-->
    </tr>
  </thead>

  <tbody>
    <!--% :order => "name DESC" %-->
    <% for category in @categories %>
      <tr>
        <td><%= link_to category.name, category_path(category)  %></td>
        <td>
      </tr>
    <% end %>
  </tbody>
</table>