<br>
<h3>Upload a quiz CSV file - one quiz per file</h3>
<p>The format of your CSV file should one row per question, with the answers separated by commas. i.e.:<br>
	<br> 
	<em>question,answer,answer,answer</em> (for as many answers as you want)<br>
	<em>question,answer,answer,answer...</em><br>
	.<br>
	...for as many questions as you want.</p>

<br>
<p>Category: <strong><%= @category.name %></strong></p> 

<%= form_tag csv_upload_category_path, :multipart => true do %>  
	<%= file_field_tag :file %>
	<%= submit_tag %>
<% end %>

