<h2>Create a new quiz using the simple form below</h2><br>
<h3>How to add questions and answers to a quiz:</h3>
<p>1. You can use the simple form below, adding questions and answers as you go using the blue links. Choose which answer is correct for each question by using the radio buttons; or</p>
<p>2. Just choose the subcategory below and type the quiz title, then on the next page you can upload questions and answers from a CSV ("comma separated value") file.</p>

<br>
<h3><em>Form to create a quiz</em><br></h3>
<p>Category: <strong><%= @category.name %></strong>&nbsp;(<%= link_to 'change category', root_path %>)
<%= render partial: 'form' %></p>