<h1>Category: <%= @category.name %></h1>
<br>
<h2>Take one of the quizzes below, or <%= link_to "create a new quiz", 
new_quiz_category_path(@category) %> in this category</h2>

<bR>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="th-categ-name">Sub-Categories</th>
      <th class="th-categ-name">Quizzes</th>
     
    </tr>
  </thead>

  <tbody>
    <% for subcategory in @category.subcategories %>
      <tr>
        <td>
          <%= subcategory.name %>
        </td>
        <td>
          <% subcategory.quizzes.each do |quiz| %> 
            <%= link_to quiz.title, quiz_path(quiz) %> &nbsp; / &nbsp;
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>