<%= link_to_unless_current image_tag('speedlearner_logo.jpg'), root_path %>

<ul class="nav">

  <li><!--%=
    link_to_unless_current 'Create Quiz', new_quiz_path do
      content_tag :span, 'Create Quiz', :class => 'this_page'
    end
  %--></li>
</ul>
